<h1>Крускал</h1>
<p><img src="https://pp.userapi.com/c851532/v851532114/11243d/LJTIgzXAwCw.jpg" alt=""></p>
<p>Возвращает список ребер и сумму!</p>

<form [formGroup]="task">
  <textarea formControlName="task"
            id="input_text"
            placeholder="Данные"
            rows="10">
  </textarea>

  <button nbButton class="submit-button" status="info" size="xsmall" (click)="sendData()">
    Отправить
  </button>
</form>

<div *ngIf="isLoad">
  <h2>Ответ</h2>
  <pre>{{res}}</pre>
</div>

