<h1>Максимальный поток минимальной стоимости</h1>
<pre>Входной файл:

первая строка
n - число вершин
m - число рёбер
k - ограничение на макс поток (то есть например, мы знаем, что макс поток = 20, а просят найти макс поток минимальной стоимости, которые меньше на 5, тогда k = 15)
вторая строка
s - номер истока
t - номер стока
затем идет m ребер в формате
a b f c
a — откуда
b — куда
f — пропускная способность
c — стоимость транспортировки единицы потока

Выходной файл:
Первая строка — получившийся поток
Список рёбер в формате
a b f
a — откуда
b — куда
f — количество потока по ребру

Пример
Входной файл:

9 14 15
1 9
1 2 15 4
1 4 11 3
1 3 18 2
2 5 6 2
2 6 14 5
4 2 19 5
4 8 17 4
3 4 10 5
5 6 14 6
6 8 11 4
6 9 8 6
3 7 6 1
7 9 15 3
8 9 6 1

Выходной файл:
15
1 2 3
1 4 6
1 3 6
2 6 3
3 7 6
4 8 6
6 9 3
7 9 6
8 9 6 </pre>
<form [formGroup]="task">
  <textarea formControlName="task"
            id="input_text"
            placeholder="Данные"
            rows="10">
  </textarea>

  <button nbButton class="submit-button" status="info" size="xsmall" (click)="sendData()">
    Отправить
  </button>
</form>

<div *ngIf="isLoad">
  <h2>Ответ</h2>
  <pre>{{res}}</pre>
</div>

