<h1>Дейкстра</h1>
<p>Дан взешенный ориентированный граф. Найти длину кратчайшего пути из какой-то там точки</p>

<p><img src="https://pp.userapi.com/c851532/v851532114/112433/rNjbPaHlQJ8.jpg" alt=""></p>

<form [formGroup]="task">
  <textarea formControlName="task"
            id="input_text"
            placeholder="Данные"
            rows="10">
  </textarea>

  <button nbButton class="submit-button" status="info" size="xsmall" (click)="sendData()">
    Отправить
  </button>
</form>

<div *ngIf="isLoad">
  <h2>Ответ</h2>
  <pre>{{res}}</pre>
</div>

